{% extends "templates/web.html" %}

{% block header %}
<div class="py-10 row">
    <div class="col-md-6">
        {% if picture %}
        <img src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h1>{{ name }}</h1>
            <p class="lead">{{ nickname }}</p>
            <div>
                <span class="badge badge-info">{{ short_name }}</span>
            </div>
        </div>
        <div class="mt-4">

            {% if club %}
            <div>Club: <strong><a href="/{{ club.route }}">{{ club.name }}</a></strong></div>
            {% endif %}

            {% if playing_surface %}
            <div>Playing Surface: <strong>{{ playing_surface }}</strong></div>
            {% endif %}

            {% if website %}
            <div>Website: <strong>{{ website }}</strong></div>
            {% endif %}

            {% if field_size %}
            <div>Field size: <strong>{{ field_size }}</strong></div>
            {% endif %}

            {% if max_capacity %}
            <div>Max. capacity: <strong>{{ max_capacity }}</strong></div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col">

        {% if description %}
        <p>{{ description }}</p>
        {% endif %}

    </div>
</div>

<div class="row">
    <div class="col">

        {% if matches %}
        <div class="page-header">
            <h4>Matches</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Home</th>
                            <th></th>
                            <th></th>
                            <th>Guest</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        <tr>
                            <td><a href="/{{ match.route }}">{{ frappe.format(match.date, {'fieldtype': 'Date'}) }}</a></td>
                            <td>{{ frappe.format(match.time, {'fieldtype': 'Time'}) }}</td>
                            <td>{{ match.status }}</td>
                            <td>{{ match.home_name }}</td>
                            <td>{% if match.status == 'Completed' %}{{ match.full_time_home_result }}{% endif %}</td>
                            <td>{% if match.status == 'Completed' %}{{ match.full_time_guest_result }}{% endif %}</td>
                            <td>{{ match.guest_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}