{% extends "templates/web.html" %}

{% block header %}
<div class="py-10 row">
    <div class="col">
        {% if picture %}
        <img src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ person_name }}</h1>
        
        <div class="mt-4">

            {% if birthday %}
            <div>Birthday: <strong>{{ frappe.format(birthday, {'fieldtype': 'Date'}) }}</strong></div>
            {% endif %}

            {% if height %}
            <div>Height: <strong>{{ height }}</strong> cm</div>
            {% endif %}

            {% if weight %}
            <div>Weight: <strong>{{ weight }}</strong> kg</div>
            {% endif %}

            {% if injury %}
            <div><span class="badge badge-danger">Injury</span></div>
            {% endif %}

            {% if suspension %}
            <div><span class="badge badge-danger">Suspension</span></div>
            {% endif %}

            {% if absence %}
            <div><span class="badge badge-danger">Absence</span></div>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col">

        {% if description %}
        <p>{{ description }}</p>
        {% endif %}

        {% if team_rosters %}
        <div class="page-header">
            <h4>Member of</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Team</th>
                            <th>Position</th>
                            <th>Role</th>
                            <th>Shirt Number</th>
                        </tr>
                    <tbody>
                        {% for item in team_rosters %}
                        <tr>
                            <td><a href="/{{ item.team_route }}">
                                {% if item.team_picture %}                                
                                <img src="{{ item.team_picture }}"  style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {{ item.team_name }}
                            </a></td>
                            <td><a href="/{{ item.position_route }}">{{ item.position_name }}</a></td>                            
                            <td>{{ item.role }}</td>
                            <td>
                                {% if item.shirt_number %}
                                <span class="badge badge-primary">{{ item.shirt_number }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if tournaments %}

        <div class="page-header">
            <h4>Appearances</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for tournament in tournaments %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="11"><a href="/{{ tournament.route }}">
                                {% if tournament.picture %}
                                <img src="{{ tournament.picture }}"  style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {{ tournament.tournament_name }}
                            </a></th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Home Team</th>
                            <th colspan="2"></th>
                            <th>Guest Team</th>
                            <th>Minutes</th>
                            <th>In</th>
                            <th>Out</th>
                            <th>Goals</th>
                            <th>Yellow Cards</th>
                            <th>Red Cards</th>
                        </tr>
                    <tbody>
                        {% for item in tournament.match_rosters %}
                        {% if item.match.status == "Completed" %}
                        <tr>
                            <td><a href="/{{ item.match.route }}">{{ item.match.date }}</a></td>
                            <td>{{ item.match.home_name }}</td>
                            <td>{{ item.match.full_time_home_result }}</td>
                            <td>{{ item.match.full_time_guest_result }}</td>
                            <td>{{ item.match.guest_name }}</td>
                            <td>{{ item.stats.minutes_played }}'</td>
                            <td>{{ item.stats.substitute_in }}'</td>
                            <td>{{ item.stats.substitute_out }}'</td>
                            <td>{{ item.stats.goals }}</td>
                            <td>{{ item.stats.yellow_cards }}</td>
                            <td>{{ item.stats.red_cards }}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>

        <div class="page-header">
            <h4>Roster Stats</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Tournament</th>
                            <th>Appearances</th>
                            <th>Minutes</th>
                            <th>Goals</th>
                            <th>Own Goals</th>
                            <th>Yellow Cards</th>
                            <th>Red Cards</th>
                        </tr>
                    <tbody>
                        {% for item in tournaments %}
                        <tr>
                            <td><a href="/{{ item.route }}">{{ item.tournament_name }}</a></td>
                            <td>{{ item.stats.appearances }}</td>
                            <td>{{ item.stats.minutes_played }}</td>
                            <td>{{ item.stats.goals }}</td>
                            <td>{{ item.stats.own_goals }}</td>
                            <td>{{ item.stats.yellow_cards }}</td>
                            <td>{{ item.stats.red_cards }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
        {% endif %}

    </div>
</div>

{% endblock %}