{% extends "templates/web.html" %}

{% block page_content %}

<div class="py-20 row">
    <div class="col-sm-2">
        {% if picture %}
        <img alt="{{ name }}" src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ name }}</h1>
        <p class="lead">Sports Type: {{ sports_type }}</p>
        <div class="mt-4">

            {% if height %}
            <div>Height: <strong>{{ height }}</strong></div>
            {% endif %}

            {% if weight %}
            <div>Weight: <strong>{{ weight }}</strong></div>
            {% endif %}

            {% if injury %}
            <div><span class="badge badge-danger">Injury</span></div>
            {% endif %}

            {% if suspension %}
            <div><span class="badge badge-danger">Suspension</span></div>
            {% endif %}

            {% if absence %}
            <div><span class="badge badge-danger">Absence</span></div>
            {% endif %}
            
            {% if venue %}
            <div>Venue: <strong><a href="/{{ venue.route}}">{{ venue.name }}</a></strong></div>
            {% endif %}
        </div>

        {% if description %}
        <p>{{ description }}</p>
        {% endif %}

        {% if address %}
        <div class="mt-4 card">
            <div class="card-header">Address</div>
            <div class="card-body">
                <strong>Address Line 1:</strong> {{ address.address_line1 }}<br />
                <strong>Address Line 2:</strong> {{ address.address_line2 }}<br />
                <strong>City:</strong> {{ address.city }}<br />
                <strong>State:</strong> {{ address.state }}<br />
                <strong>Pincode:</strong> {{ address.pincode }}<br />
                <strong>Country:</strong> {{ address.country }}
            </div>
        </div>
        {% endif %}

        {% if contact %}
        <div class="mt-4 card">
            <div class="card-header">Contact</div>
            <div class="card-body">
                <strong>First Name:</strong> {{ contact.first_name }}<br/>
                <strong>Last Name:</strong> {{ contact.last_name }}<br/>
                <strong>Email:</strong> {{ contact.email_id }}<br/>
                <strong>Mobile:</strong> {{ contact.mobile_no }}
            </div>
        </div>
        {% endif %}

        {% if association %}
        <div class="page-header">
            <h4>Associations</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        {% for item in association %}
                        <tr>
                            <td>{{ item.association }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if position %}
        <div class="page-header">
            <h4>Positions</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        {% for item in position %}
                        <tr>
                            <td>{{ item.position }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if age_group %}
        <div class="page-header">
            <h4>Age Groups</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        {% for item in age_group %}
                        <tr>
                            <td>{{ item.age_group }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if seasons %}
        <div class="page-header">
            <h4>Seasons</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        {% for item in seasons %}
                        <tr>
                            <td>{{ item.season }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if teams %}
        <div class="page-header">
            <h4>Teams</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        {% for item in teams %}
                        <tr>
                            <td><a href="/{{ item.route }}">{{ item.parent }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}