{% extends "templates/web.html" %}

{% block page_content %}

<div class="py-20 row">
    <div class="col-sm-2">
        {% if picture %}
        <img src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ person_name }}</h1>
        
        <div class="mt-4">

            {% if birthday %}
            <div>Birthday: <strong>{{ frappe.format(birthday, {'fieldtype': 'Date'}) }}</strong></div>
            {% endif %}

            {% if height %}
            <div>Height: <strong>{{ height }}</strong> cm</div>
            {% endif %}

            {% if weight %}
            <div>Weight: <strong>{{ weight }}</strong> kg</div>
            {% endif %}

            {% if injury %}
            <div><span class="badge badge-danger">Injury</span></div>
            {% endif %}

            {% if suspension %}
            <div><span class="badge badge-danger">Suspension</span></div>
            {% endif %}

            {% if absence %}
            <div><span class="badge badge-danger">Absence</span></div>
            {% endif %}
            
        </div>

        {% if description %}
        <p>{{ description }}</p>
        {% endif %}

        {% if team_rosters %}
        <div class="page-header">
            <h4>Member of</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Team</th>
                            <th>Position</th>
                            <th>Role</th>
                            <th>Shirt Number</th>
                        </tr>
                    <tbody>
                        {% for item in team_rosters %}
                        <tr>
                            <td><a href="/{{ item.team_route }}">
                                {% if item.team_picture %}                                
                                <img src="{{ item.team_picture }}"  style="width: 50px; height: 50px;"/>
                                {% endif %}
                                {{ item.team_name }}
                            </a></td>
                            <td><a href="/{{ item.position_route }}">{{ item.position_name }}</a></td>                            
                            <td>{{ item.role }}</td>
                            <td>
                                {% if item.shirt_number %}
                                <span class="badge badge-primary">{{ item.shirt_number }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}