{% extends "templates/web.html" %}

{% block header %}
<div class="py-10 row">
    <div class="col">
        {% if picture %}
        <img src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ team_name }}</h1>

        <p class="lead">Sports Type: {{ sports_type }}</p>
        <div>
            <span class="badge badge-info">{{ short_name }}</span>
        </div>
        
        <div class="mt-4">

            {% if club %}
            <div>Club: <strong><a href="/{{ club.route}}">{{ club.name }}</a></strong></div>
            {% endif %}
            
            {% if venue %}
            <div>Venue: <strong><a href="/{{ venue.route}}">{{ venue.name }}</a></strong></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}

<div class="row">
    
    <div class="col">        
        
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}

        {% if coaches %}
        <div class="page-header">
            <h4>Coaches</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Position</th>
                        </tr>
                    <tbody>
                        {% for item in coaches %}
                        <tr>
                            <td>
                                {% if item.picture %}
                                <img src="{{ item.picture }}"
                                    style="max-height: 50px;" />
                                {% endif %}
                            </td>
                            <td><a href="/{{ item.person_route }}">{{ item.person_name }}</a></td>
                            <td><a href="/{{ item.position_route }}">{{ item.position_name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        
        {% if players %}
        <div class="page-header">
            <h4>Players</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Shirt Number</th>
                        </tr>
                    <tbody>
                        {% for item in players %}
                        <tr>
                            <td>
                                {% if item.picture %}
                                <img src="{{ item.picture }}"
                                    style="max-height: 50px;" />
                                {% endif %}
                            </td>
                            <td><a href="/{{ item.person_route }}">{{ item.person_name }}</a></td>
                            <td><a href="/{{ item.position_route }}">{{ item.position_name }}</a></td>
                            <td>
                                {% if item.shirt_number %}
                                <span class="badge badge-primary">{{ item.shirt_number }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if staff %}
        <div class="page-header">
            <h4>Staff</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Position</th>
                        </tr>
                    <tbody>
                        {% for item in staff %}
                        <tr>
                            <td>
                                {% if item.picture %}
                                <img src="{{ item.picture }}"
                                    style="max-height: 50px;" />
                                {% endif %}
                            </td>
                            <td><a href="/{{ item.person_route }}">{{ item.person_name }}</a></td>
                            <td><a href="/{{ item.position_route }}">{{ item.position_name }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if tournaments %}
        <div class="page-header">
            <h4>Tournaments</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tournament</th>
                            <th></th>
                            <th>Rank</th>
                            <th>Played</th>
                            <th>Wins</th>
                            <th>Draws</th>
                            <th>Losses</th>
                            <th>Points</th>
                            <th>Score For</th>
                            <th>Score Against</th>
                            <th>Difference</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tournament in tournaments %}
                        <tr>
                            <td><a href="/{{ tournament.route }}">{{ tournament.tournament_name }}</a></td>
                            {% if tournament.picture %}
                            <td><img alt="{{ tournament.team }}" src="{{ tournament.picture }}"
                                    style="width: 25px; height: 25px;" />
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td>{{ tournament.rank }}</td>
                            <td>{{ tournament.played }}</td>
                            <td>{{ tournament.wins }}</td>
                            <td>{{ tournament.draws }}</td>
                            <td>{{ tournament.losses }}</td>
                            <td>{{ tournament.points }}</td>
                            <td>{{ tournament.score_for }}</td>
                            <td>{{ tournament.score_against }}</td>
                            <td>{{ tournament.difference }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% for tournament in tournaments %}
        {% if tournament.matches %}
        <div class="page-header">
            <h4>Matches in <a href="/{{ tournament.route }}">
                {{ tournament.tournament_name }}
                {% if tournament.picture %}
                <img alt="{{ tournament.team }}" src="{{ tournament.picture }}"
                    style="max-height: 50px;" />
                {% endif %}
            </a></h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Home</th>
                            <th></th>
                            <th></th>
                            <th>Guest</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in tournament.matches %}
                        <tr>
                            <td><a href="/{{ match.route }}">{{ frappe.format(match.date, {'fieldtype': 'Date'}) }}</a></td>
                            <td>{{ frappe.format(match.time, {'fieldtype': 'Time'}) }}</td>
                            <td>{{ match.status }}</td>
                            <td>{{ match.home_name }}</td>
                            <td>{% if match.status == 'Completed' %}{{ match.full_time_home_result }}{% endif %}</td>
                            <td>{% if match.status == 'Completed' %}{{ match.full_time_guest_result }}{% endif %}</td>
                            <td>{{ match.guest_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}