{% from "sports_management/templates/includes/home_page.html" import render_rankings %}
<div class="container-fluid">
    <div class="row p-4">
        <div class="col-sm-12 col-md-8">
            {% include "sports_management/web_template/latest_blogs/latest_blogs.html" %}
        </div>
        <div class="col-sm-12 col-md-4">
            {% set tournaments = frappe.get_all('Tournament', filters={'published': 1}, fields=['name'], order_by='creation desc') %}
            {% for tournament in tournaments %}
            {{ render_rankings(tournament.name) }}
            {% endfor %}
        </div>
    </div>
</div>
