{% extends "templates/web.html" %}

{% block page_content %}

<div class="py-20 row">
    <div class="col-sm-2">
        {% if picture %}
        <img alt="{{ name }}" src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ name }}</h1>
        {% if venue %}
        <p class="lead">Venue: <a href="/{{ venue.route }}">{{ venue.name }}</a></p>
        {% endif %}
        <p class="lead">{{ frappe.format(date, {'fieldtype': 'Date'}) }} {{ frappe.format(time, {'fieldtype': 'Time'}) }}</p>

        <div class="mt-4">

            <div><span class="badge badge-info">{{ status }}</span></div>

            <div class="mt-2"><strong>{{ frappe.format(date, {'fieldtype': 'Date'}) }} {{ frappe.format(time, {'fieldtype': 'Time'}) }}</strong></div>

            {% if venue %}
            <div>Club: <strong><a href="/{{ venue.route }}">{{ venue.name }}</a></strong></div>
            {% endif %}            

            {% if tournament %}
            <div>Tournament: <strong><a href="/{{ tournament.route }}">{{ tournament.name }}</a></strong></div>
            {% endif %}

            {% if game_day %}
            <div>Game Day: <strong><a href="/{{ game_day.route }}">{{ game_day.name }}</a></strong></div>
            {% endif %}

            {% if spectators %}
            <div>Spectators: <strong>{{ spectators }}</strong></div>
            {% endif %}

            <table class="table table-striped mt-4  ">
                <tbody>
                    <tr>
                        <td class="font-weight-bold text-center"><a href="/{{ home.route }}">{{ home.name }}</a></td>
                        <td class="font-weight-bold text-center"><a href="/{{ guest.route }}">{{ guest.name }}</a></td>
                    </tr>

                    <tr>
                        <td colspan="2">Full Time Result</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-center">{{ full_time_home_result }}</td>
                        <td class="font-weight-bold text-center">{{ full_time_guest_result }}</td>
                    </tr>

                </tbody>
            </table>

            {% if link_to_the_external_match_report %}
            <div><a href="{{ link_to_the_external_match_report }}" target="_blank">Link to the external match report</a></div>
            {% endif %}

            {% if live_broadcast_link %}
            <div><a href="{{ live_broadcast_link }}" target="_blank">Live broadcast link</a></div>
            {% endif %}
            
        </div>

        {% if embed_live_broadcast_link %}
        <div class="mt-4">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ embed_live_broadcast_link }}" allowfullscreen></iframe>
            </div>
        </div>
        {% endif %}

        <div class="mt-4">
            <h2>Information</h2>
            <p>{{ preview }}</p>
        </div>

    </div>
</div>

{% endblock %}