{% extends "templates/web.html" %}

{% block page_content %}

<div class="page-header">
    <h1>{{ name }}</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th></th>
                    <th>Team</th>
                    <th>Played</th>
                    <th>Wins</th>
                    <th>Draws</th>
                    <th>Losses</th>
                    <th>Points</th>
                    <th>Score For</th>
                    <th>Score Against</th>
                    <th>Difference</th>
                </tr>
            </thead>
            <tbody>
                {% for ranking in rankings %}
                <tr>
                    <td>{{ ranking.rank }}</td>
                    {% if ranking.picture %}
                    <td><img alt="{{ ranking.team }}" src="{{ ranking.picture }}" style="width: 25px; height: 25px;" />
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td><a href="/{{ ranking.route }}">{{ ranking.team }}</a></td>
                    <td>{{ ranking.played }}</td>
                    <td>{{ ranking.wins }}</td>
                    <td>{{ ranking.draws }}</td>
                    <td>{{ ranking.losses }}</td>
                    <td>{{ ranking.points }}</td>
                    <td>{{ ranking.score_for }}</td>
                    <td>{{ ranking.score_against }}</td>
                    <td>{{ ranking.difference }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="py-20 row">
    {% if picture %}
    <div class="col-sm-2">
        {% if picture %}
        <img alt="{{ name }}" src="{{ picture }}" />
        {% endif %}
    </div>
    {% endif %}
    <div class="col">
        <p class="lead">Sports Type: {{ sports_type }}</p>        
        <div class="mt-4">
            <div>League: <strong>{{ league }}</strong></div>
            <div>Type: <strong>{{ type }}</strong></div>

            {% if country %}
            <div>Country: <strong>{{ country }}</strong></div>
            {% endif %}

        </div>
        
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}

        {% if age_group %}
        <div class="page-header">
            <h4>Age Groups</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        {% for ag in age_group %}
                        <tr>
                            <td>{{ ag.age_group }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if game_days %}
        <div class="page-header">
            <h4>Game Days</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tbody>
                        {% for gd in game_days %}
                        <tr>
                            <td><a href="/{{ gd.route }}">{{ gd.name }}</a></td>
                            <td>{{ gd.start }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if matches %}
        <div class="page-header">
            <h4>Matches</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Home</th>
                            <th></th>
                            <th></th>
                            <th>Guest</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        <tr>
                            <td><a href="/{{ match.route }}">{{ match.name }}</a></td>
                            <td>{{ frappe.format(match.date, {'fieldtype': 'Date'}) }}{{ frappe.format(match.time, {'fieldtype': 'Time'}) }}</td>
                            <td>{{ match.home }}</td>
                            <td>{% if match.full_time_home_result %} {{ match.full_time_home_result }}{% endif %}</td>
                            <td>{% if match.full_time_guest_result %} {{ match.full_time_guest_result }}{% endif %}</td>
                            <td>{{ match.guest }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}