{% extends "templates/web.html" %}

{% block header %}
<div class="py-10 row">
    <div class="col-sm-4">
        {% if picture %}
        <img src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ tournament_name }}</h1>
        <p class="lead">Sports Type: {{ sports_type }}</p>        
        <div class="mt-4">
            <div>League: <strong><a href="/{{ league_route }}">{{ league_name }}</a></strong></div>
            <div>Type: <strong>{{ type }}</strong></div>

            {% if country %}
            <div>Country: <strong>{{ country }}</strong></div>
            {% endif %}

            {% if website_item %}
            <div>Register: <strong><a href="/{{ website_item.route }}">{{ website_item.web_item_name }}</a></strong></div>
            {% endif %}

        </div>
    </div>    
</div>
<div class="row">
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
</div>
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h4>Rankings</h4>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Rank</th>
                    <th></th>
                    <th>Team</th>
                    <th>Played</th>
                    <th>Wins</th>
                    <th>Draws</th>
                    <th>Losses</th>
                    <th>Points</th>
                    <th>Score For</th>
                    <th>Score Against</th>
                    <th>Difference</th>
                </tr>
            </thead>
            <tbody>
                {% for ranking in rankings %}
                <tr>
                    <td>{{ ranking.rank }}</td>
                    {% if ranking.picture %}
                    <td><img src="{{ ranking.picture }}" style="width: 25px; height: 25px;" />
                    </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td><a href="/{{ ranking.route }}">{{ ranking.team_name }}</a></td>
                    <td>{{ ranking.played }}</td>
                    <td>{{ ranking.wins }}</td>
                    <td>{{ ranking.draws }}</td>
                    <td>{{ ranking.losses }}</td>
                    <td>{{ ranking.points }}</td>
                    <td>{{ ranking.score_for }}</td>
                    <td>{{ ranking.score_against }}</td>
                    <td>{{ ranking.difference }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if game_days %}
        <div class="page-header">
            <h4>Game Days</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gd in game_days %}
                        <tr>
                            <td><a href="/{{ gd.route }}">{{ gd.start }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

        {% if matches %}
        <div class="page-header">
            <h4>Matches</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Home</th>
                            <th></th>
                            <th></th>
                            <th>Guest</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for match in matches %}
                        <tr>
                            <td><a href="/{{ match.route }}">{{ frappe.format(match.date, {'fieldtype': 'Date'}) }}</a></td>
                            <td>{{ frappe.format(match.time, {'fieldtype': 'Time'}) }}</td>
                            <td>{{ match.status }}</td>
                            <td>{{ match.home_name }}</td>
                            <td>{% if match.status == 'Completed' %}{{ match.full_time_home_result }}{% endif %}</td>
                            <td>{% if match.status == 'Completed' %}{{ match.full_time_guest_result }}{% endif %}</td>
                            <td>{{ match.guest_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}