{% extends "templates/web.html" %}

{% block header %}
<div class="py-10 row">
    <div class="col-sm-6">
        {% if picture %}
        <img src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ name }}</h1>
    </div>
</div>

{% endblock %}

{% block page_content %}

<div class="row">
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
</div>

<div class="py-10 row">
    <div class="col">
        <h3>Home Shirt</h3>
        {% if home_shirt %}
        <img src="{{ home_shirt }}" style="max-height: 200px;" />
        {% endif %}
    </div>
    <div class="col">
        <h3>Away Shirt</h3>
        {% if away_shirt %}
        <img src="{{ away_shirt }}" style="max-height: 200px;" />
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="page-header">
        <h4>Teams</h4>
    </div>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Sports Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in teams %}
                    <tr>
                        <td><a href="/{{ item.route }}">{{ item.team_name }}</a></td>
                        <td>{{ item.sports_type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
</div>

{% endblock %}
