{% extends "templates/web.html" %}
{% block header %}
<div class="py-10 row">
    <div class="col-sm-6">
        {% if picture %}
        <img src="{{ picture }}" />
        {% endif %}
    </div>
    <div class="col">
        <h1>{{ position_name }}</h1>
        <p class="lead">Sports Type: {{ sports_type }}</p>        
        <div class="mt-4">
            <div>Role: <strong>{{ role }}</strong></div>
        </div>
    </div>
</div>
<div class="row">
    {% if description %}
    <p>{{ description }}</p>
    {% endif %}
</div>
{% endblock %}
